body {
  font-size: 16px;
}
table {
  border-collapse: collapse;
}
th {
  vertical-align: middle;
}
thead,
tfoot {
  background-color: #caccf5;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
thead,
tfoot,
table {
  border: 2px solid black;
}
.SGI table {
  border-bottom: none;
}
.thLow th {
  text-transform: none;
}
.card table {
  width: 1200px;
}
#age,
#tUnit {
  float: right;
  margin-right: 50px;
}
