html,
body {
  max-width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}
body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}
img {
  display: none;
  height: 150px;
}
/* .mHead {
  display: flex;
  justify-content: center;
} */
.heading {
  text-align: center;
  margin: 50px 0;
  line-height: 2em;
}
.PSU {
  font-weight: 700;
  font-size: 1.5em;
}
h1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5em;
  letter-spacing: 0.5em;
  text-align: center;
  margin: 20px 0;
}
.reg {
  font-weight: 700;
  margin: 10px;
}
.regNum {
  color: red;
  margin: 0 40px;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
}
.card table {
  max-width: 1300px;
  width: 100%;
}
thead,
tfoot {
  background-color: #caccf5;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
thead,
tfoot,
table {
  border: 2px solid black;
}
.SGI table {
  border-bottom: none;
}
.SGI table th,
.contents tfoot td {
  padding: 5px;
}
th,
td {
  vertical-align: middle;
}
td {
  padding: 5px 20px;
}
.margBot td {
  padding-bottom: 100px;
}
.thLow th {
  text-transform: none;
}
.mkBold {
  font-weight: 700;
  font-style: normal;
}
.fctSign {
  border-bottom: 1px solid black;
}
.age,
.tUnit {
  float: right;
  margin-left: 30px;
}
.bordTop {
  border-top: 2px solid black;
  font-weight: 700;
}
.itallic {
  font-style: italic;
}
